
#root {
  display: flex;
  height: 100%;
  text-align: center;
  min-width: 100%;
  justify-content: center;
  
  

}
.moviediv {
  max-width: 100%;
} 

button{
  margin: 2px;
}
button:hover{
  background-image: linear-gradient(to left, #252e90 0%, #330867 100%);
}
.buttonColor{
  color: rgb(213, 232, 248);
}

.movie-container{
  padding: 0 20px;
max-width: 100%;
}